
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading mt-3">
    <div class="col-lg-10">
        <h2>Dinamik Raporlar</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Admin/Dashboard/Index">Ana Safya</a>
            </li>
            <li class="breadcrumb-item">
                <a>Raporlar</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Dinamik Raporlar</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5><a href="/Admin/Blog/ExportDinamicExcelBlogList" class="btn btn-primary">Excel Listesini İndir</a> </h5>
                </div>
            </div>
        </div>
    </div>
</div>

