<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/inspinia-gh-pages/img/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Efrun Evdi</span>
                        <span class="text-muted text-xs block">Yazılım Mühendisi <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="profile.html">Profil</a></li>
                        <li><a class="dropdown-item" href="contacts.html">İletişim</a></li>
                        <li><a class="dropdown-item" href="/Admin/Message/InBox">Mail Kutusu</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/Login/Logout">Çıkış Yap!</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    WeBlog+
                </div>
            </li>

            <li>
                <a href="/Admin/Widget/Index"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard</span>  </a>
            </li>

            <li>
                <a href="/Admin/Chart/Index"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Grafikler</span>  </a>
            </li>

            <li>
                <a href="/Admin/Message/InBox"><i class="fa fa-envelope"></i> <span class="nav-label">Mesajlar</span>  </a>
            </li>

            <li>
                <a href="metrics.html"><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrikler</span>  </a>
            </li>

            <li>
                <a href="/Admin/Category/Index"><i class="fa fa-book"></i> <span class="nav-label">Kategoriler</span>  </a>
            </li>

            <li>
                <a href="/Admin/Blogs/Index"><i class="fa fa-align-center"></i> <span class="nav-label">Bloglar</span>  </a>
            </li>

            <li>
                <a href="/Admin/Comment/Index"><i class="fa fa-comment"></i> <span class="nav-label">Yorumlar</span>  </a>
            </li>

            <li>
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Yazarlar</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Admin/Writer/Index">Yazar CRUD (APİ)</a></li>
                    <li><a href="form_advanced.html">Advanced Plugins</a></li>
                    <li><a href="form_wizard.html">Wizard</a></li>
                    <li><a href="form_file_upload.html">File Upload</a></li>
                    <li><a href="form_editors.html">Text Editor</a></li>
                    <li><a href="form_autocomplete.html">Autocomplete</a></li>
                    <li><a href="form_markdown.html">Markdown</a></li>
                </ul>
            </li>

            <li>
                <a href="metrics.html"><i class="fa fa-bell"></i> <span class="nav-label">Bildirimler</span>  </a>
            </li>

            <li>
                <a href="metrics.html"><i class="fa fa-phone"></i> <span class="nav-label">İletişim</span>  </a>
            </li>

            <li>
                <a href="metrics.html"><i class="fa fa-drivers-license-o"></i> <span class="nav-label">Hakkımızda</span>  </a>
            </li>

            <li>
                <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">Raporlar</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Admin/Blog/BlogListExcel">Statik Raporlar</a></li>
                    <li><a href="/Admin/Blog/BlogTitleListExcel">Dinamik Raporlar</a></li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Rol İşlemleri</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Admin/Role/Index">Rol Listesi</a></li>
                    <li><a href="/Admin/Role/UserRoleList">Kullanıcı Rol Listesi</a></li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Tablolar</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="active"><a href="table_basic.html">Static Tables</a></li>
                    <li><a href="table_data_tables.html">Data Tables</a></li>
                    <li><a href="table_foo_table.html">Foo Tables</a></li>
                    <li><a href="jq_grid.html">jqGrid</a></li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">Galeri</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="basic_gallery.html">Lightbox Gallery</a></li>
                    <li><a href="slick_carousel.html">Slick Carousel</a></li>
                    <li><a href="carousel.html">Bootstrap Carousel</a></li>

                </ul>
            </li>

            <li>
                <a href="metrics.html"><i class="fa fa-tasks"></i> <span class="nav-label">Ayarlar</span>  </a>
            </li>
        </ul>
    </div>
</nav>