<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs text-center">Asp.Net Core 5.0</h1>

                <h3 class="font-bold no-margins">
                    Dashboard
                </h3>
                <small>
                    Merhaba, projemizin yönetim panelinde Admin işlemleri, Area yapısı kullanılarak gerçekleştirilmektedir.
                </small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs text-center">Son Blog</h1>

                <h3 class="font-bold no-margins">
                    @ViewBag.v1
                </h3>
                <small>Yayınlanma tarihi : @ViewBag.v2</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs text-center">Kullanıcı Sayısı</h1>

                <h3 class="font-bold no-margins">
                    @ViewBag.v3
                </h3>
                <small>Kullanıcılar kayıt olmaya devam ediyor.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>